{% load staticfiles %}
<html>
    <head>
        <title>GOOGLE HARATON</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<script src="http://code.jquery.com/jquery-1.11.1.min.js">
		function uploadFile(){
                var form = $('FILE_FORM')[0];
                var formData = new FormData(form);
                formData.append("fileObj", $("#FILE_TAG")[0].files[0]);
                formData.append("fileObj2", $("#FILE_TAG2")[0].files[0]);
 
                $.ajax({
                    url: '',
                            processData: false,
                            contentType: false,
                            data: formData,
                            type: 'POST',
                            success: function(result){
                                alert("업로드 성공!!");
                            }
                    });
            }

	</script>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="header">
	{% if user.is_authenticated %}
	<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
	<a href="/"><span class="glyphicon glyphicon-home"></span></a>
	{% else %}
	<a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
	{% endif %}
       	<h1><a href="/">Study Maker</a></h1>
	{% if user.is_authenticated %}
	<p align = "right"><a href="/logout" class="navbar-form btn btn-default">Logout</a></p>
	{% endif %}
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
		{% block content %}
		{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
