{% extends 'blog/base.html' %}

{%block content %}
{% if user.is_authenticated %}
	<a class="btn btn-default" href="{% url 'post_remove?' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
{% endif %}
	<div class="post">
		{% if post.published_date %}
			<div class="date">
				{{post.published_date}}
			</div>
		{% endif %}
		<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		<h1>{{ post.name }}</h1>
		<p>{{ post.description|linebreaksbr }}</p>
	</div>
	<hr>
<a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Post</a>
{% for comment in post.comments.all %}
{% if user.is_authenticated %}
    <div class="comment">
        <div class="date">
	{{ comment.created_date }}
	<a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
	<a class="btn btn-default" href="{% url 'comment_edit' pk=post.pk fuck=comment.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
	</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% endif %}
{% empty %}
    <p>ㅠㅠㅠㅠ아무도없어 ㅠㅠㅠㅠㅠ</p>
{% endfor %}
{% endblock %}
