{% extends 'blog/base.html' %}
{% load staticfiles %}
{%block content %}
{% if user.is_authenticated %}
	<a id="test" class="btntn" href="{% url 'post_remove?' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
	<a class="btntn" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></a>

{% endif %}
	<div class="post">
		{% if post.published_date %}
			<div class="date">
				{{post.published_date}}
			</div>
		{% endif %}
		<div class="study-name">
			<h1>{{ post.name }}</h1>
		</div>
		<p class="descriptions">{{ post.description|linebreaksbr }}</p>
	</div>
	<hr>
<a class="bntnt" href="{% url 'add_comment_to_post' pk=post.pk %}"><span class="glyphicon glyphicon-plus"></a>
{% for comment in post.comments.all %}
{% if user.is_authenticated %}
    <div class="comment">
        <div class="date">
	{{ comment.created_date }}
	<a class="commentbtn" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
	<a class="commentbtn" href="{% url 'comment_edit' pk=post.pk fuck=comment.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
	</div>
        <strong>{{ comment.author }}</strong>
        <p class="comments">{{ comment.text|linebreaks }}</p>
    </div>
{% endif %}
{% empty %}
    <p class="comments">ㅠㅠㅠㅠ글쓴놈이 아무도없어 ㅠㅠㅠㅠㅠ</p>
{% endfor %}
{% endblock %}
